TRON_NETWORK=shasta
TRON_PRO_API_KEY=
MASTER_WALLET_PRIVATE_KEY=
MASTER_WALLET_ADDRESS=
SENDER_WALLET_PRIVATE_KEY=
SENDER_WALLET_ADDRESS=
MIN_TRX_FOR_GAS=35
FEE_LIMIT=10000000
USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
USDC_CONTRACT=TEkxiTehnzSmSe2XqrBj4w32RUN966rdz8
